.container{
  height:100vh;
  width:auto;
  overflow-y: hidden;
}

.header-container{
  height: auto;
  position: fixed;
  top:0;
  background-color:  #456072;
  width: 100%;
}

/* .main-container{
  height: calc(100vh - 60px);
} */
