/* src/components/AddProperty.css */
.addPropertyForm{
    display: flex;
    align-items: center;
    width:100vw;
    /* margin-top: -50px; */
}
form {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  input[type="file"] {
    border: none;
  }
  
  .addPropertyForm button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;

    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input,
  textarea,
  select,
  button {
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #4caf50;
    outline: none;
  }
  