.header-container{
    /* height:60px; */
    /* overflow-y: hidden; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.toggle-button{
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}
.header-logo{
    text-align: center;
    margin: 10px;
    display: inline-b;
}

.header-content{
    width: 100vw;
}

.navigation-item{
    width: 100vw;
    /* display: none; */
    cursor: pointer;
}


.open{
    display: block;
}
.close{
    display: none;
}
.navigation-item:hover{
    text-decoration-line:2px white;
}